body {
	padding: 200px;
	border: 5px dotted darkgrey;
	width: 800px;
	position: center;
}

h1 {
	padding: 40px;
	margin: 10px;
	border: 12px dashed darkgrey;
	float: left;
	display: inline-block;
}

h2 {
	padding: 10px;
	margin: 5px;
	display: inline-block;
	float: right;
	border: 10px dotted lightgrey;
}

h3 {
	border: 4px dashed darkgrey;
	float: right;
}
h4 {
	float: right;
	border: 10px dashed darkgrey;
	padding: 25px;
}
h5 {
	display: inline-block;
	padding: 10px;
	border: 3px dashed darkgrey;
}
h6 {
	display: inline-block;
	padding: 50px;
	border: 30px dashed darkgrey;
}

ul li {
	margin-left: 30px;
	border: 3px dashed darkgrey;
	display: inline-block;
	padding: 5px;
	margin-bottom: 2px;
}

em {
	border: 5px dashed darkgrey;
	padding: 5px;
	margin: 5px;
}

strong {
	display: inline-block;
	border: 50px dashed darkgrey;
}

div {
	position: relative;
	padding: 20px;
	display: inline-block;
	border: 4px dotted lightgrey;
}

#nav {
	position: fixed;
	right: 25px;
	line-height: 15%;
	font-family: sans-serif;
	top:10px;
}

#nav a {
	text-decoration: none;
	color: black;
    text-align: center;
}

.heart {
	fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
}


.heart:hover {
    fill: black;
    opacity: 1;
}

.home {
    fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
    transform: scale(1.5);
}

.home:hover {
    fill: black;
    opacity: 1;
    animation: pulse 1s ease infinite; 
}

.left {
    transform:rotate(90deg);
}

.right {
    transform: rotate(270deg);
}

.lvl {
    font-size: 10px;
    position: relative;
    margin-top: 8px;
    text-align: center;

}
.hm {
    margin-top: -4px;
}