body {
	font-family: sans-serif;
	text-align: justify;
	line-height: 1.6;
	width: 1200px;
	font-size: 1.5em;
}

div {
	border: 10px lightgrey solid;
	padding: 100px;
	margin: 50px;
	display: grid;
}
.metal {
	font-size: 75px;
	letter-spacing: -2px;
}

.built {
	font-size: 175px;
	font-weight: bold;
	text-transform: uppercase;
}

.kill {
	text-align: right;
	font-size: 225px;
}

.killed {
	text-align: right;
	font-size: 100px;
	font-style: italic;
	font-weight: bold;
}
.couldhave {
	padding: 50px;
	font-size: 100px;
	margin: 10px;
}
.sky {
	padding: 10px;
	line-height: 0.1;
}

ul {
	font-size: 55px;
	font-style: italic;
	text-transform: uppercase;
}

strong {
	font-weight: bold;
}

#nav {
	position: fixed;
	right: 25px;
	line-height: 15%;
	font-family: sans-serif;
	top:10px;
}

#nav a {
	text-decoration: none;
	color: black;
    text-align: center;
}

.heart {
	fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
}


.heart:hover {
    fill: black;
    opacity: 1;
}

.home {
    fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
    transform: scale(1.5);
}

.home:hover {
    fill: black;
    opacity: 1;
    animation: pulse 1s ease infinite; 
}

.left {
    transform:rotate(90deg);
}

.right {
    transform: rotate(270deg);
}

.lvl {
    font-size: 10px;
    position: relative;
    margin-top: 8px;
    text-align: center;

}
.hm {
    margin-top: -4px;
}