body {
	font-family: sans-serif;
	text-align: justify;
	line-height: 1.6;
	width: 1200px;
	font-size: 1.5em;
}

div {
	border: 10px lightgrey solid;
	padding: 100px;
	margin: 50px;
	display: grid;
}
.metal {
	font-size: 75px;
	letter-spacing: -2px;
}

.built {
	font-size: 175px;
	font-weight: bold;
	text-transform: uppercase;
}

.kill {
	text-align: right;
	font-size: 225px;
}

.killed {
	text-align: right;
	font-size: 100px;
	font-style: italic;
	font-weight: bold;
}
.couldhave {
	padding: 50px;
	font-size: 100px;
	margin: 10px;
}
.sky {
	padding: 10px;
	line-height: 0.1;
}

ul {
	font-size: 55px;
	font-style: italic;
	text-transform: uppercase;
}

strong {
	font-weight: bold;
}