body {
	font-family: sans-serif;
	line-height: 1.6;
	width: 8000px;
	height: 1000px;
	margin-top:200px;
	font-size: 1.5em;
	display: inline-block;
	border: 50px solid lightgrey;
}

div {
	width: 400px;
	height:400px;
	padding: 50px;
	margin: 200px;
	border: 15px dashed transparent;
	display: inline-block;
}

.metal {
	text-align: center;

}

.couldhave {
	position: relative;
	width: 800px;
	line-height: 1.9;
	font-size: 24px;
	text-transform: uppercase;
}

.kill {
	letter-spacing: 2.5px;
}


.sky {
	text-align: right;
	font-size: 24px;
}


.built {

	text-align: right;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 50px;

}

.borders {
	font-size: 40px;
}


.killed {
	font-style: italic;
	text-align: right;
}

.body {

}

ul {

}

strong {

}

#nav {
	position: fixed;
	right: 25px;
	line-height: 15%;
	font-family: sans-serif;
	top:10px;
}

#nav a {
	text-decoration: none;
	color: black;
    text-align: center;
}

.heart {
	fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
}


.heart:hover {
    fill: black;
    opacity: 1;
}

.home {
    fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
    transform: scale(1.5);
}

.home:hover {
    fill: black;
    opacity: 1;
    animation: pulse 1s ease infinite; 
}

.left {
    transform:rotate(90deg);
}

.right {
    transform: rotate(270deg);
}

.lvl {
    font-size: 10px;
    position: relative;
    margin-top: 8px;
    text-align: center;

}
.hm {
    margin-top: -4px;
}