body {
	font-family: monospace;
	padding: 25px;
	font-style: normal;
	color:darkgrey;
}

div {
	padding: 25px;
	position: absolute;
}


.metal {
	text-align: right;
	position: absolute;
	    margin-left: 732px;
	margin-top: 450px;
	letter-spacing: -1px;
}

.couldhave {
	text-align: left;
	margin-top: 325px;
	margin-left: 505px;
	width: 100px;
}

.kill {
	text-align: right;
	margin-top: 300px;
}

.sky {
	text-align: left;
	margin-top: 407px;
	margin-left: 195px;
	width: 125px;
}

.borders {
	text-align: left;
	margin-top: 643px;
	margin-left: 50px;
}

.built {
	margin-left: 801px;
	margin-top: 322px;
}



.killed {
	margin-top: 676px;
	margin-left: 688px;

}


.child {
	margin-top: 500px;
}

.body {
margin-left: 1000px;

}

em {
	font-style: normal;
}

h1 {
	font-size: 400px;
	letter-spacing: 75px;
	color: lightgrey;

}

#nav {
	position: fixed;
	right: 25px;
	line-height: 15%;
	font-family: sans-serif;
	top: 10px;
}

#nav a {
	text-decoration: none;
	color: black;
    text-align: center;
}

.heart {
	fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
}


.heart:hover {
    fill: black;
    opacity: 1;
}

.home {
    fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
    transform: scale(1.5);
}

.home:hover {
    fill: black;
    opacity: 1;
    animation: pulse 1s ease infinite; 
}

.left {
    transform:rotate(90deg);
}

.right {
    transform: rotate(270deg);
}

.lvl {
    font-size: 10px;
    position: relative;
    margin-top: 8px;
    text-align: center;

}
.hm {
    margin-top: -4px;
}