body {
	border: 350px solid beige;
	padding: 50px;
	width: 500px;
	float: center;
}

											@keyframes frames {
											    from {border-color: goldenrod;}
											    to {border-color: yellow;}
											}
h1 {
	display: inline-block;
	border: 150px inset goldenrod;
	padding: 20px;
	animation-name: frames;
	animation-duration: 5s;
	animation-direction:alternate;
	animation-iteration-count: infinite;
}

h2 {
	display: inline-block;
	border: 20px dashed chartreuse;
	padding: 50px;
}
h3 {
	border: 50px double darkgrey;
	padding: 50px;
}

h4 {
	border: 40px solid pink;
	padding: 20px;
}

h5 {
	padding: 60px;
	margin: 10px;
	border: lightblue 25px dotted;
}
strong {
	border: 50px red solid;
}


div {
	border: 2px dashed grey;
	padding: 20px;
}

#nav {
	position: fixed;
	right: 25px;
	line-height: 15%;
	font-family: sans-serif;
}

#nav a {
	text-decoration: none;
	color: black;
    text-align: center;
}

.heart {
	fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
}


.heart:hover {
    fill: black;
    opacity: 1;
}

.home {
    fill: firebrick;
    margin-top: 10px;
    opacity: 0.25;
    transform: scale(1.5);
}

.home:hover {
    fill: black;
    opacity: 1;
    animation: pulse 1s ease infinite; 
}

.left {
    transform:rotate(90deg);
}

.right {
    transform: rotate(270deg);
}

.lvl {
    font-size: 10px;
    position: relative;
    margin-top: 8px;
    text-align: center;

}
.hm {
    margin-top: -4px;
}