body {
	background-color: lightgrey;
	font-family: sans-serif;
	display: block;
	min-width: 800px;
}

a {
	z-index: 1;
	border: 3px white solid;
	padding: 25px;
	text-decoration: none;
	color: white;
}

a:hover {
	border: 3px darkgrey solid;
	background-color: white;
	color:black;
}

p {
	z-index:300;
	display: block;
	margin: 5px;
}

div {
	text-align: center;
	width: 50vw;
	min-width: 500px;
	padding: 20px;
}

h1 {
	font-size: 5vw;
}

h2 {
	z-index: 100;
	font-size: 50px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;

}
.content {

}

#top {
	background-color: navy;
	padding: 10px;
	color: white;
	letter-spacing: 2px;
	grid-column-start: 1;
	grid-column-end:3;
	position: static;
	width: 106vw;
	margin-left:-1vw;
	text-align: center;
}

.heart {
  fill: darkred;
  position: relative;
  top: 5px;
  width: 250px;
}

.heart:hover {
  fill: black;
  position: relative;
  top: 5px;
  width: 250px;
  animation: pulse 1s ease infinite; 
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.lvl {
	position: relative;
	top:-175px;
	font-size: 45px;
	color: white;
}
svg {
	margin: 10px;
}

span {
	top: 50px;
}

#level1 {
	grid-column-start: 1;
}

#level2 {
	grid-column-start: 2;
}
#level5 {
	margin-left: 25vw;
	grid-column-start: 1;
	grid-column-end: 3;
}