.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 25px;
	grid-row-gap:10px;
	justify-content: left;
	align-content: start;
	grid-auto-columns: minmax(300px, auto);
}

#title {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	display: inline-block;
}
#toc {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	display: inline-block;
	padding: 20px;
}
#introduction {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;
	display: inline-grid;
	padding: 25px;
	background: beige;
	color: olivedrab;
	font-family: sans-serif;
	margin-bottom:25px;
}

#part1 {
	grid-column: 1 / span 1;
	grid-row-start: 4;
	background-color: burlywood;
	justify-content: center;
	padding: 10px;
}
#part2 {
	grid-column: 2 / span 1;
	grid-row-start: 4;
	justify-content: center;
	padding: 10px;
}
#part3 {
	grid-column: 3 / span 1;
	grid-row-start: 4;
	background-color: burlywood;
	justify-content: center;
	padding: 10px;
}

#return {
	text-align: right;
	grid-row-start: 5;
}

p {
	
}

body {
	background: peru;
	font-family: sans-serif;
}



h1 {
	color: olivedrab;
	background-color: palegreen;
	font-family: sans-serif;
	font-style: italic, bold;
	text-align: right;
	font-size: 72px;
	line-height: 100%;
	opacity: 0.75;
	border-width: 25px;
	border-left-style: dotted;
	padding: 75px;
}

h2 {
	display: flex;
	color: ghostwhite;
	background-color: olivedrab;
	text-align: left;
	align-self: center;
	font-size: 48px;
	padding: 15px;
	height: 160px;
	font-family: sans-serif;
	text-transform: capitalize;
}

h3 {
	font-family: sans-serif;
	color: ghostwhite;
	background-color: olivedrab;
	font-size: 36px;
	padding: 25px;
}
ol {
	font-family: sans-serif;
	list-style-type: decimal-leading-zero;
	font-size: 24px;
	border-style: solid;
	border-color: beige;
	border: 2px;
}

ol li {
	font-family: sans-serif;
	font-size: 18px;
}

ul li {
	list-style-type: square;
}


ul {
	list-style: none;
}

ul li {
	list-style-type: square;
}

strong {
	font-family: sans-serif;
	color: beige;
	background-color: darkolivegreen;
	padding: 5px;
}

img {
	max-width: auto;
	height: 300px;
	border-radius: 3px;
	padding-top: 25px;
	padding-bottom: 25px;
	align-self: left;
}

a {
	color: darkseagreen;
	background-color: beige;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	display: inline-block;
	margin: 5px;
	text-decoration: none;
	border: 3px dotted ghostwhite;
}


a:hover {
	color: springgreen;
	background-color: darkseagreen;
	font-family: sans-serif;

}


